SOAP/GestionNoteClient/src/main/resources/GestionNoteService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example.org/" name="GestionNoteServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://example.org/" schemaLocation="GestionNoteService.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="getEtudiantsTries">
<part name="parameters" element="tns:getEtudiantsTries"></part>
</message>
<message name="getEtudiantsTriesResponse">
<part name="parameters" element="tns:getEtudiantsTriesResponse"></part>
</message>
<message name="getMajorant">
<part name="parameters" element="tns:getMajorant"></part>
</message>
<message name="getMajorantResponse">
<part name="parameters" element="tns:getMajorantResponse"></part>
</message>
<message name="ajouterEtudiant">
<part name="parameters" element="tns:ajouterEtudiant"></part>
</message>
<message name="ajouterEtudiantResponse">
<part name="parameters" element="tns:ajouterEtudiantResponse"></part>
</message>
<message name="getNoteFinalAvecAbsence">
<part name="parameters" element="tns:getNoteFinalAvecAbsence"></part>
</message>
<message name="getNoteFinalAvecAbsenceResponse">
<part name="parameters" element="tns:getNoteFinalAvecAbsenceResponse"></part>
</message>
<message name="getEtudiantsValidant">
<part name="parameters" element="tns:getEtudiantsValidant"></part>
</message>
<message name="getEtudiantsValidantResponse">
<part name="parameters" element="tns:getEtudiantsValidantResponse"></part>
</message>
<message name="getNote">
<part name="parameters" element="tns:getNote"></part>
</message>
<message name="getNoteResponse">
<part name="parameters" element="tns:getNoteResponse"></part>
</message>
<portType name="GestionNoteService">
<operation name="getEtudiantsTries">
<input wsam:Action="http://example.org/GestionNoteService/getEtudiantsTriesRequest" message="tns:getEtudiantsTries"></input>
<output wsam:Action="http://example.org/GestionNoteService/getEtudiantsTriesResponse" message="tns:getEtudiantsTriesResponse"></output>
</operation>
<operation name="getMajorant">
<input wsam:Action="http://example.org/GestionNoteService/getMajorantRequest" message="tns:getMajorant"></input>
<output wsam:Action="http://example.org/GestionNoteService/getMajorantResponse" message="tns:getMajorantResponse"></output>
</operation>
<operation name="ajouterEtudiant">
<input wsam:Action="http://example.org/GestionNoteService/ajouterEtudiantRequest" message="tns:ajouterEtudiant"></input>
<output wsam:Action="http://example.org/GestionNoteService/ajouterEtudiantResponse" message="tns:ajouterEtudiantResponse"></output>
</operation>
<operation name="getNoteFinalAvecAbsence">
<input wsam:Action="http://example.org/GestionNoteService/getNoteFinalAvecAbsenceRequest" message="tns:getNoteFinalAvecAbsence"></input>
<output wsam:Action="http://example.org/GestionNoteService/getNoteFinalAvecAbsenceResponse" message="tns:getNoteFinalAvecAbsenceResponse"></output>
</operation>
<operation name="getEtudiantsValidant">
<input wsam:Action="http://example.org/GestionNoteService/getEtudiantsValidantRequest" message="tns:getEtudiantsValidant"></input>
<output wsam:Action="http://example.org/GestionNoteService/getEtudiantsValidantResponse" message="tns:getEtudiantsValidantResponse"></output>
</operation>
<operation name="getNote">
<input wsam:Action="http://example.org/GestionNoteService/getNoteRequest" message="tns:getNote"></input>
<output wsam:Action="http://example.org/GestionNoteService/getNoteResponse" message="tns:getNoteResponse"></output>
</operation>
</portType>
<binding name="GestionNoteServiceImplPortBinding" type="tns:GestionNoteService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getEtudiantsTries">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getMajorant">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ajouterEtudiant">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getNoteFinalAvecAbsence">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getEtudiantsValidant">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getNote">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="GestionNoteServiceImplService">
<port name="GestionNoteServiceImplPort" binding="tns:GestionNoteServiceImplPortBinding">
<soap:address location="http://localhost:9090/GestionNoteService"></soap:address>
</port>
</service>
</definitions>